.flex {
  display: flex;
  font-size: 14px;
  width: 640px;
  line-height: 16px;
  .user-name {
    font-weight: bold;
    padding-right: 10px;
    padding-left: 15px;
  }
}
.comment-here {
  width: 616px;
  height: 50px;
  padding-left: 20px;
  font-size: 16px;
  color: gray;
}
