
.title {
  margin-right: 10px;
}
.userImg {
  height: 40px;
  border-radius: 50%;
  }


.each-container {
  background-color: #fafafa;
  margin-right: 10%;
  .likes {
    height: 30px;
    border: 1px solid red;
  }
  .comment {
    height: 50px;
    border: 1px solid red;
    margin-top: -10px;
  }
}
